body {
    /* background-color: brown; */
    text-align: center;
}

#game-intro {
    padding: 20px 0px;
}

#game-wrapper {
    /* background-color: azure; */
    display: flex;
    justify-content: center;
}

#game-screen {
    background-color: aqua;
    display: none;
}

#game-outro {
    display: none;
}

.character {
    width: 350px;
    height: auto;
}
